*
{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
}
.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dea8a8;
}
.category,.difficulty
{
  position: relative;
  top:10%;
  width: 100%;
  height: 90%;

}
.category-msg, .difficulty-msg
{
  width: 50%;
  height: 20%;

  margin: 0 auto;
}
.category-msg p, .difficulty-msg p
{
  color:white;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}
.category-btn, .difficulty-btn
{
  position: relative;
  width: 60%;
  height: 60%;
  margin:0 auto;

}
.category button
{
  width: 18%;
  height: 18%;
  display: inline-block;
  margin: 1%;
  text-align: center;
  padding: 1%;
}
.difficulty button
{
  height: 30%;
  width:30%;
  margin:1%;
  padding:1%;
  text-align:center;
}
.start
{
  width:40%;
  height: 30%;
  position:relative;
  top:35%;
  left:30%;
}
.end {
  position: relative;
  width:50%;
  height: 60%;
  top:20%;
  left:25%;
  background-color: rgba(248, 0, 156, 0.1);
}
.start button
{
  width:100%;
  height: 100%;
  font-size: 300%;
}
button{
  background-color: darkgreen;
}
.play{
  position: relative;
  width:50%;
  height: 60%;
  top:20%;
  left:25%;
  background-color: rgba(248, 0, 156, 0.1);

}
.question-txt
{
  width:90%;
  height: 30%;
  margin:0 auto;
  padding: 1%;
}
.question-txt p{
  width: 95%;
  height: 95%;
  color:white;
  text-align: center;
  padding:1%;

}
.answers
{
  width:100%;
  height:65%;
  text-align: center;
}
.answers button
{
  width: auto;
  height: 100%;
  margin-left: 1%;

}
.correct, .wrong ,.end
{
  width:100%;
  height: 100%;

}
.correct,.end{
  background-color: green;
}
.wrong
{
  background-color: red;
}
.correct button, .wrong button,.end button
{
  width:25%;
  height: 15%;
  position: relative;
  top:30%;
  left:35%;
  background-color: blue;
  text-align: center;
  font-size: 200%;
  color:white;
  font-weight: bold;
  padding: 2%;
}
.correct p, .wrong p
{
  width:25%;
  height: 15%;
  position: relative;
  top:25%;
  left:33%;
  text-align: center;
  font-size: 200%;
  color:white;
  font-weight: bold;
  padding: 2%;

}
