<div class="wrapper">
  <div id="text">
    <p>"Welcome to Quizy. Here you can test your trivia knowledge. There are over 16000 question across multiple categories.
      If you choose to register an account you can create your own quiz and invite friends to play. However, if you want
      just to play, you can continue to do so as a guest. You will be given 10 questions, based on category and difficulty you choose.

    </p>

  </div>
  <div class="buttons">
    <button mat-raised-button id="login">Log in</button>
    <button mat-raised-button id="register">Register</button>
    <button mat-raised-button id="guest" (click)="playAsQuest()">Play as guest</button>
  </div>

</div>
